h4:first-child {
    margin: 0 16px;
}
.checkout-modal{
    width:100%;
}

.checkout-modal h2 {
    margin-top: 8px;
    margin-bottom: 24px;
}

.checkout-modal_list {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    min-height: 300px;
    overflow-y: auto;
}

.checkout-modal_footer {
    border-top: 1px solid rgba(128, 128, 128, 0.288);
    display: flex;
    justify-content: space-between;
}

.checkout-modal_list-item {
    display: flex;
    flex-direction: row;
    margin:5px 0;
}

.checkoutimg-wrap {
    flex-basis: 20%;
    /* max-width: 20%; */
}
.checkoutimg{
    height: 100%;
    width: 100%;
}
.information{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.information h4{
    word-wrap: normal;
}

.totalAmount {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cartmodalbutton {
    margin-left: 270px;
}

.cartmodalbutton button {

    background-color: #2C3639;
    color: white;
    border: unset;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
}

.cartmodalbutton:hover {
    opacity: 0.85;
}

.empty-cart {
    margin: auto;
    color: gray;
    padding: 24px 0 48px;
}
#checkoutprice{
    margin-left: 7px;
}
#cartaddbutton{
    display: flex;
    margin-right: 8px;
}
